/* Not supported by IE webbrowser :-((

input[type="text"]
{
  font-family: courier;
  background-color: #ffffe0;
}

input[readonly="readonly"]
{
  background-color: #d8d8d0;
}   */



.errormsg
{
  font-weight: bold;
  color: red;
}



.element
{
  font-family: courier;
  background-color: #ffffe0;
  width: 40px;
}



.compound
{
  font-family: courier;
  background-color: #ffffe0;
  width: 150px;
}

.compoundro
{
  font-family: courier;
  background-color: #d8d8d0;
  width: 150px;
}

.compoundrolight
{
  font-family: courier;
  background-color: #e0ffff;
  width: 150px;
}



.ratio
{
  font-family: courier;
  background-color: #ffffe0;
  width: 80px;
}
.ratioro
{
  font-family: courier;
  background-color: #d8d8d0;
  width: 80px;
}



.mass
{
  font-family: courier;
  background-color: #ffffe0;
  width: 100px;
}

.massro
{
  font-family: courier;
  background-color: #d8d8d0;
  width: 100px;
}


.grouplist
{
  border: thin solid black;
}


.oddrow
{
  /* background: #4040c0; */
  font-family: courier;
}


.evenrow
{
  /* background: #8080c0; */
  font-family: courier;
}


.equation
{
  font-family: courier;
  font-weight: bold;
}

